<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
        <style>
        .main {
            width: 1000px;
            background-color: red;
            color: white;
            padding: 20px;
            font-size: 30px;
        }
    </style>
</head>
<body>
    <div class="main">
         {{bdata}}
    </div> 
    <h3>Course List</h3>
    <ul>
        {% for course in clist %}
        <div>{{forloop.counter}} {{course}}</div>
        {% endfor %}
    </ul>
    <table border="1px" cellpadding="10">
        <tr>
            <th>Name</th>
            <th>Phone Number</th>
        </tr>
        
        
        {% for d in student_details %}

        <tr>
            <td>{{d.name}}</td>
            <td>{{d.phone}}</td>
        </tr>
        {% endfor %}
    </table>
    <h3>Numbers Greater Than 20</h3>
    {% if numbers|length > 0 %}
    {% for n in numbers %}
        {% if n > 20 %}
            <div>{{ n }}</div>
        {% endif %}
    {% endfor %}
    {% else %}
    No Data found
    {% endif %}
</body>
</html>